*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
.header{
    width: 1920;
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #c0392b;
}
.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 34px;
    justify-content: space-evenly;
}
.link a{
    text-decoration: none;
    color: #fff;
}
.hero{
    margin: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero img{
    width: 475px;
    height: 365px;
}
.hero-text{
    color: #333;
    width: 441px;
    margin: 84px;
}
.hero-text h2{
    font-weight: bold;
    font-size: 37.7px;
}
.hero-text p{
    font-size: 15.4px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.menu h2{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #c0392b;
    margin-bottom: 41px;
}
.dish{
    flex-direction: row;
    max-width: 1100px;
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.each-dish{
    flex-wrap: wrap;
    max-width: 300px;
    height: 280px;
    background: #fff9f5;
    border-radius: 16px;
    overflow: hidden;
}
.each-dish img{
    padding-bottom: 19px;
    height: 180px;
}
.each-dish h3{
    display: flex;
    justify-content: center;
    color: #333;
    font-weight: bold;
    font-size: 18.7;
}
.each-dish span{
    display: flex;
    justify-content: center;
    color: #c0392b;
    font-weight: bold;
    font-size: 18.9;
}








.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78px;
    color: #fff;
    background-color: #2c2c2c;
    width: 100%;
}