*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
.header{
    width: 1920;
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #c0392b;
}
.link a{
    text-decoration: none;
    color: #fff;
}
.footer{
    height: 78px;
    color: #fff;
    text-align: center;
    background-color: #2c2c2c;
}